* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex-column{
    display: flex;
    flex-direction: column;
    width: 95%;
}
.flex-row {
    display: flex;
    gap: 10px;
}
.form-background {
    display: flex;
    flex-direction: column;
    background-color: #063970;
    width: 100%;
    padding: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}
.text {
    width: 100%;
}

.container {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
label {
    color: white;
}
body {
    /* margin: 0; */
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
form {
    width: 30%;
}
button {
    padding: 5px;
    color: #063970;
    border-radius: 10px;
    border-style: none;
    box-sizing: border-box;
    border: 1px solid #063970;
    width: 50%;
}
button:hover {
    cursor: pointer;
    border: 1px solid white;
    background-color: #063970;
    color: white;
    box-sizing: border-box;
}
p {
    color: red;
}